TZ=Etc/UTC
NODE_ENV=prod
FASTIFY_HOST=::
FASTIFY_PORT=3000
CORS_ORIGIN=https://gigachads.de
CORS_CREDENTIALS=true
CORS_METHODS=GET,POST,DELETE,PUT,PATCH
CORS_MAX_AGE=86400
COOKIE_SECRET=supersecuresecret
COOKIE_NAME=gigachads
JWT_SECRET=supersecuresecret
REDIS_ENABLED=true
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=supersecuresecret
REDIS_PORT=6379
REDIS_IP_FAMILY=4
LOG_ENABLED=true
LOG_LEVEL=debug
ADMIN_USERNAME=Example
ADMIN_PASSWORD=supersecuresecret
ADMIN_EMAIL=example@example.com
DATABASE_URL=/app/gigachads.db